
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.car-card{
    width: 300px;
    margin:5px;
}
.card-body{
    margin-top: 0;
    padding-top: 0;
}
.pagination {
    justify-content: center;
}
.pagination .page-item.active .page-link {
    background-color: green;
    border-color: green;
}
.pagination .page-link {
    color: black;
}
.custom-gray {
    width: 220px;
    padding: 10px;
    height: 40px;
    background: #f3fdf1;
    border-radius: .4rem;
    color: #2c9f1c;
    font-weight: 700;
    text-transform: uppercase;
    font-size: small;
}
.custom-gray:hover{
    transform: scale(1.05);
    color:white;
    background-color: #2c9f1c;
}
.search-form-container {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}
.search-form-container h2 {
    font-size:large;
    font-weight: 700;
}
.search-form-container label {
    color: #fff;
}
.search-form-container .form-select {
    background-color: #2c9f1c;
    color: #fff;
    border: none;
}
.search-form-container .form-select:focus {
    box-shadow: none;
}
