.custom-gray {
    width: 80% !important;
    margin-left: 30px;
    padding: 15px;

    height: 50px;
    background: #f3fdf1;
    border-radius: .4rem;
    color: #2c9f1c;
    font-weight: 700;
    text-transform: uppercase;
    font-size: small;
}
.custom-gray:hover{
    transform: scale(1.05);
    color:white;
    background-color: #2c9f1c;
}
.card-img-top {
    height: 250px;
    object-fit: cover;
}


.card {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.3s ease-in-out !important;
    overflow: hidden !important;
}

.card:hover {
    transform: scale(1.1) !important;
}
main .bon > div p {
  color: gray;
  padding-right: 20px;
}
.Choose{
    background-color:rgb(248, 248, 248);
    margin-top:-70px;
    margin-bottom: 100px;
    padding-top: 150px;
}
.Choose h1{
    text-align:center;
    color:#333;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.167em;
}
.card-top-border {
    position: relative;
}
.card-top-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 400px;
    height: 3px; /* Độ dày của viền */
    background-color: green;
    transform: translateX(-50%);
}
.card-text{
    color:gray;
}
h4{
    font-weight: 600;
    color: black;
}
.card-body{
    width: 445px;
    height: 319px;
}
.card-body i{
    font-size: 50px;
    color: #2c9f1c;
    margin-right: 10px;
}

.card-text{
    padding: 1.5rem 1.4rem 7.1rem;
    
}

.kienmot {
    background-image: url(/img/about-sec-bg.jpg);
    background-size: cover;
}

.kienmot>div{
    max-width: 1500px;
    width: 100%;
    margin: auto;

}

.kienmot>div>.tieude{
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 70px;

   
  
    
}

.kienmot>div>.nutchuyen{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px 0;

  
    
   
  
    
}
.kienmot>div>.nutchuyen>div{
    border-bottom: 1px solid rgba(255, 255, 255, 0.425);
 
   
     
    
   
     
 }

.kienmot>div>.nutchuyen>div>button{
    width: 320px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
     border: none;
     color: white;
 
     padding: 0;
    
   
     
 }

 .kienmot>div>.nutchuyen>div .buttonhien{
    border-bottom: 4px solid rgb(44, 159, 28);
    font-weight: bold;
    
   
     
 }

 .kienmot>div .thongtin{
   
    display: flex;
    padding-bottom: 70px;
  


   
     
 }

 .kienmot>div .thongtin>div{

   width: 50%;
   height: 450px;
   transition: 0.2s;
  
     
 }

 .kienmot>div .thongtin .trai{

    background-color: white;

    padding: 50px;
    padding-top: 70px;
    border-radius: 10px 0 0 10px;
    
    
   
      
}

.kienmot>div .thongtin .trai>div>i{

    font-size: 50px;
    color: rgb(51, 51, 51);
    position: relative;
    
    z-index: 2!important;
   
      
}
.kienmot>div .thongtin .trai>div>i::after{

    background: rgb(44, 159, 28);
    border-radius: 50%; 
    color: #fff;
    content: "";
    display: block;
    width: 2.5rem; 
    height: 2.5rem; 
    padding: 0; 
    position: absolute;
    left: 15px;
    bottom: -5px; 
    z-index: -100;
   
      
}

.kienmot>div .thongtin .trai .tieude{

    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
   
    color: rgb(51, 51, 51);
}

.kienmot>div .thongtin .trai .giaithich{

    color: rgb(131, 131, 116);
 
  
      
}
.an{
    display: none;
    transition: 0.2s;
}

.kienhai{
    margin-top: 100px;
    display: flex;
}

.kienhai .trai{
   padding-top: 170px;
   padding-left: 170px;
   padding-right: 100px;
}
.kienhai .trai .kientieude{
    font-size: 60px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    margin-bottom: 50px;
}
.kienhai .trai .kiengiathich{
    font-size: 26px;
    margin-bottom: 50px;
    color: rgb(51, 51, 51);
    
}

.kienhai .trai>div{
    display: flex;
    
}
.kienhai .trai>div .mat>img{
    width: 70px;
    margin-right: 20px;
}

.kienhai .trai>div .noi #ten{
    color:rgb(51, 51, 51) ;
    font-weight: bold;
    padding: 0;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 0;
}

.kienhai .trai>div .noi #cv{
    color:rgb(154, 154, 154) ;
 

    font-size: 17px;
}